// fonts
$roboto: "Roboto";
$arial: "Arial", sans-serif;
$poppins: "Poppins", sans-serif;

// color
$footer-color: #bdc3c7;
$body-color: #f5f6fa;
$header-color: #ffffff;
$nav-active-color: #4880ff;
$warning: #e4ae0b;

$white: #ffffff;
$black: #000000;
